<%= header %>
    <div class="main-content-wrap" class="outer">
      <section class="main-content inner">
        <div class="table-filter">
          <ul>
          <li>The exposed data only takes into account the company name that contributors have listed
          in their drupal.org profile at the time the list was curated. It may not be an accurate
          representation of the company that actually sponsored their contribution.</li>
          <li>This list only reflects commit mentions by individuals. Not every commit mention is a valuable
          as others. Is just a metric, so be careful when interpreting it.</li>
          <li>There are plenty of other ways of contribution to the Drupal community as an individual or
          organization. Please check <a href="https://drupal.org/contribute">https://drupal.org/contribute</a>
          for ways of getting involved.</li>
          </ul>
          Total: <%= companies.length %> companies listed
          <ul>
            <li><a href="index.html">List Contributors</a></li>
            <li><a href="companies.html">List Companies</a></li>
            <li><a href="countries.html">List Countries</a></li>
          </ul>
        </div>

        <p class="updated">Last updated <span class="timeago" title="<%= time.iso8601(10) %>"><%= time %></span></p>
        <table cellpadding="4" style="border: 1px solid #000000; border-collapse: collapse;" border="1" class="companies">
  <col width="5%">
  <col width="50%">
  <col width="15%">
  <col width="15%">
  <col width="15%">
 <tr>
 <th>#</th>
  <th>Company</th>
  <th>Contributors</th>
  <th>Mentions</th>
  <th>Percent</th>
 </tr>
 <% companies.each do |name, values| %>
 <tr id="<%= name %>">
  <td id="<%= name %>"><%= (lastMentions == values['mentions']) ? lastOrder : i %></td>
  <td><%= values['link'] %> <img src="images/icon_info.png" alt="Info" title="Toggle employees" class="toggle">
    <table class="employees" style="display: none">
      <% values['contributors'].each do |contributor, mentions| %>
      <tr>
        <td><a href="https://www.drupal.org/u/<%= contributor.gsub ' ', '-' %>"><%= contributor %></a></td>
        <td><a href="http://cgit.drupalcode.org/drupal/log/?qt=grep&q=<%= contributor.gsub ' ', '+' %>"><%= mentions %></a></td>
      </tr>
      <% end %>
    </table>
  </td>
  <td><%= values['contributors'].length %></td>
  <td><%= values['mentions'] %> (~<%= values['mentions'] / values['contributors'].length %>)</td>
  <td><%= ((values['mentions']/sum)*100).round(4) %>%</td>
  <% if lastMentions != values['mentions'] %>
    <% lastOrder = i %>
  <% end %>
  <% i += 1 %>
  <% lastMentions = values['mentions'] %>
 </tr>
 <% end %>

</table>
      </section>
    </div>
<%= footer %>
