<%= header %>
    <div class="main-content-wrap" class="outer">
      <section class="main-content inner">
        <div class="table-filter">
          Total: <%= companies.length %> countries listed
          <ul>
            <li><a href="index.html">List Contributors</a></li>
            <li><a href="companies.html">List Companies</a></li>
            <li><a href="countries.html">List Countries</a></li>
          </ul>
        </div>

        <p class="updated">Last updated <span class="timeago" title="<%= time.iso8601(10) %>"><%= time %></span></p>
        <table cellpadding="4" style="border: 1px solid #000000; border-collapse: collapse;" border="1" class="companies">
  <col width="5%">
  <col width="50%">
  <col width="15%">
  <col width="15%">
  <col width="15%">
 <tr>
 <th>#</th>
  <th>Country</th>
  <th>Contributors</th>
  <th>Mentions</th>
  <th>Percent</th>
 </tr>
 <% companies.each do |name, values| %>
 <tr id="<%= name %>">
  <td id="<%= name %>"><%= (lastMentions == values['mentions']) ? lastOrder : i %></td>
  <td><%= values['link'] %> <img src="images/icon_info.png" alt="Info" title="Toggle employees" class="toggle">
    <table class="employees" style="display: none">
      <% values['contributors'].each do |contributor, mentions| %>
      <tr><td><a href="https://www.drupal.org/u/<%= contributor.gsub ' ', '-' %>"><%= contributor %></a></td><td><%= mentions %></td></tr>
      <% end %>
    </table>
  </td>
  <td><%= values['contributors'].length %></td>
  <td><%= values['mentions'] %> (~<%= values['mentions'] / values['contributors'].length %>)</td>
  <td><%= ((values['mentions']/sum)*100).round(4) %>%</td>
  <% if lastMentions != values['mentions'] %>
    <% lastOrder = i %>
  <% end %>
  <% i += 1 %>
  <% lastMentions = values['mentions'] %>
 </tr>
 <% end %>

</table>
      </section>
    </div>
<%= footer %>
