<%= header %>
    <div class="main-content-wrap outer">
      <section class="main-content inner">
        <div class="table-filter">
          Total: <%= contributors.length %> contributors
          <ul>
            <li><a href="index.html">List Contributors</a></li>
            <li><a href="companies.html">List Companies</a></li>
            <li><a href="countries.html">List Countries</a></li>
          </ul>
        </div>

        <p class="updated">Last updated <span class="timeago" title="<%= time.iso8601(10) %>"><%= time %></span></p>

        <table cellpadding="4" style="border: 1px solid #000000; border-collapse: collapse;" border="1">
  <col width="5%">
  <col width="65%">
  <col width="15%">
  <col width="15%">
 <tr>
 <th>#</th>
  <th>Drupal.org Username</th>
  <th>Mentions</th>
  <th>Percent</th>
 </tr>
 <% contributors.each do |name, mentions| %>
 <% notSpecified = (name === 'Not specified') %>
 <tr id="<%= name %>">
  <td><%= (lastMentions == mentions) ? lastOrder : i %></td>
  <td><% if !notSpecified %><a href="https://www.drupal.org/u/<%= name.downcase.gsub ' ', '-' %>"><%= name %></a><% else %><%= name %><% end %>
  </td>
  <td><% if !notSpecified %><a href="http://cgit.drupalcode.org/drupal/log/?qt=grep&q=<%= name.gsub ' ', '+' %>"><%= mentions %></a><% else %><%= mentions %><% end %></td>
  <td><%= ((mentions/sum)*100).round(4) %>%</td>
  <% if lastMentions != mentions %>
    <% lastOrder = i %>
  <% end %>
  <% i += 1 %>
  <% lastMentions = mentions %></tr>
 <% end %>

</table>
      </section>
    </div>
<%= footer %>
