<%= header %>
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <div class="table-filter">
          Total: <%= contributors.length %> contributors
          <ul>
            <li><a href="index.html">List Contributors</a></li>
            <li><a href="companies.html">List Companies</a></li>
          </ul>
        </div>

        <p class="updated">Last updated <span class="timeago" title="<%= time.iso8601(10) %>"><%= time %></span></p>

        <table cellpadding="4" style="border: 1px solid #000000; border-collapse: collapse;" border="1">
  <col width="5%">
  <col width="65%">
  <col width="15%">
  <col width="15%">
 <tr>
 <th>#</th>
  <th>Drupal.org Username</th>
  <th>Mentions</th>
  <th>Percent</th>
 </tr>
 <% contributors.each do |name, mentions| %>
 <tr>
  <td id="<%= name %>"><%= (lastMentions == mentions) ? lastOrder : i %></td>
  <td><a href="https://www.drupal.org/u/<%= name.gsub ' ', '-' %>"><%= name %></a></td>
  <td><%= mentions %></td>
  <td><%= ((mentions/sum)*100).round(4) %>%</td>
  <% if lastMentions != mentions %>
    <% lastOrder = i %>
  <% end %>
  <% i += 1 %>
  <% lastMentions = mentions %></tr>
 <% end %>

</table>
      </section>
    </div>
<%= footer %>
